section(id=`${chooseus003}`, class!=`${chooseus003}`)
    h2(class!=`${chooseus003}__title`) Work Steps.
    p(class!=`${chooseus003}__text`) We understand your requirement and provide quality works.
    ul(class!=`${chooseus003}__${cardlist009} ${cardlist009}`)
        include ../../cardlists/.cardlist009/cardlist009.pug
    div(class!=`${chooseus003}__calltoaction`)
        div(class!=`${chooseus003}__calltoaction-text`) Start your journy with us now
        a(class!=`${button003}`, href=`#`) Get Started