include ../../cards/.card005/card005.pug

li(class!=`${cardlist005}__item ${card005} ${card005}_red`, tabindex="0")
    +card005(card005, 'Michael Schmitt', 'Founder & CEO')
li(class!=`${cardlist005}__item ${card005} ${card005}_green`, tabindex="0")
    +card005(card005, 'David Krämer', 'Lead Developer')
li(class!=`${cardlist005}__item ${card005} ${card005}_blue`, tabindex="0")
    +card005(card005, 'Anna Schröder', 'Designer')
li(class!=`${cardlist005}__item ${card005} ${card005}_orange`, tabindex="0")
    +card005(card005, 'Jason Teichmann', 'Consultant')