section(id=`${portfolio003}`, class!=`${portfolio003}`)
    h3(class!=`${portfolio003}__title`) Portfolio.
    p(class!=`${portfolio003}__text`) We understand your requirement and provide quality works.
    ul(class!=`${portfolio003}__${cardlist004} ${cardlist004}`)
        include ../../cardlists/.cardlist004/cardlist004.pug