section(id=`${ourblog003}`, class!=`${ourblog003}`)
    h2(class!=`${ourblog003}__title`) Our Blog.
    p(class!=`${ourblog003}__text`) We understand your requirement and provide quality works.
    ul(class!=`${ourblog003}__${cardlist010} ${cardlist010}`)
        include ../../cardlists/.cardlist010/cardlist010.pug