section(id=`${pricing003}`, class!=`${pricing003}`)
    h3(class!=`${pricing003}__title`) Pricing Table.
    p(class!=`${pricing003}__text`) We understand your requirement and provide quality works.
    ul(class!=`${pricing003}__${cardlist008} ${cardlist008}`)
        include ../../cardlists/.cardlist008/cardlist008.pug