include ../../cards/.card007/card007.pug

li(class!=`${cardlist007}__item ${card007} ${card007}_odd ${card007}_red ${card007}_one`)
    +card007(card007, 'Project Understanding',
    'Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.')
li(class!=`${cardlist007}__item ${card007} ${card007}_even ${card007}_green ${card007}_two`)
    +card007(card007, 'Research & Planning',
    'Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.')
li(class!=`${cardlist007}__item ${card007} ${card007}_odd ${card007}_blue ${card007}_three`)
    +card007(card007, 'Wireframe & Design',
    'Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.')
li(class!=`${cardlist007}__item ${card007} ${card007}_even ${card007}_orange ${card007}_four`)
    +card007(card007, 'Development',
    'Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.')