include ../../cards/.card010/card010.pug

li(class!=`${cardlist010}__item ${card010} ${card010}_first ${card010}_red`)
    +card010(card010,
    'Damian Schreiber',
    'December 10, 2015',
    'Facebook’s CNN livestream will test its place in the second screen era',
    'Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm',
    './img/blogs/blog_img001.jpg')
li(class!=`${cardlist010}__item ${card010} ${card010}_green`)
    +card010(card010,
    'Damian Schreiber',
    'December 10, 2015',
    'Google Street View adds virtual reality support',
    'Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm',
    './img/blogs/blog_img001.jpg')
li(class!=`${cardlist010}__item ${card010} ${card010}_blue`)
    +card010(card010,
    'Damian Schreiber',
    'December 10, 2015',
    'Google Street View adds virtual reality support',
    'Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm',
    './img/blogs/blog_img001.jpg')
li(class!=`${cardlist010}__item ${card010} ${card010}_orange`)
    +card010(card010,
    'Damian Schreiber',
    'December 10, 2015',
    'Google Street View adds virtual reality support',
    'Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm',
    './img/blogs/blog_img001.jpg')