include ../../cards/.card004/card004.pug

li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_001.jpg', 'Project One', 'Project One')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_002.jpg', 'Project Two', 'Project Two')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_003.jpg', 'Project Three', 'Project Three')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_004.jpg', 'Project Four', 'Project Four')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_005.jpg', 'Project Five', 'Project Five')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_006.jpg', 'Project Six', 'Project Six')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_007.jpg', 'Project Seven', 'Project Seven')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_008.jpg', 'Project Eight', 'Project Eight')
li(class!=`${cardlist004}__item`)
    +card004(card004, '#', './img/portfolio/item_009.jpg', 'Project Nine', 'Project Nine')