div(class!=`${testimonials003}__${feedbackpanel003} ${feedbackpanel003}`)
    img(class!=`${feedbackpanel003}__img`, src="./img/clients/client_img.jpg", alt="Client")
    div(class!=`${feedbackpanel003}__comment`)
        div(class!=`${feedbackpanel003}__comment-wrap`)
            div(class!=`${feedbackpanel003}__text-wrap`)
                p(class!=`${feedbackpanel003}__text`)
            div(class!=`${feedbackpanel003}__signature`)
            div(class!=`${feedbackpanel003}__name`)
            div(class!=`${feedbackpanel003}__prof`)
    div(class!=`${feedbackpanel003}__nav`)