section(class!=`${ourfocus003}`)
    h2(class!=`${ourfocus003}__title`) Our Focus.
    p(class!=`${ourfocus003}__text`) We understand your requirement and provide quality works.
    ul(class!=`${ourfocus003}__${cardlist003} ${cardlist003}`)
        include ../../cardlists/.cardlist003/cardlist003.pug