section(id=`${worksteps003}`, class!=`${worksteps003}`)
    h3(class!=`${worksteps003}__title`) Work Steps.
    p(class!=`${worksteps003}__text`) We understand your requirement and provide quality works.
    ul(class!=`${worksteps003}__${cardlist007} ${cardlist007}`)
        include ../../cardlists/.cardlist007/cardlist007.pug